/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*end reset*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
 font-family: 'Montserrat', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

select,
input[type="email"],
input[type="name"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
font-family: 'Montserrat', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- //Reset-Code --*/

body {
    /*background: url(../images/w_back.jpg);*/
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
h1.header-w3ls {
    text-align: center;
    text-transform: uppercase;
	font-weight:500;
    color:#ffffff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
     letter-spacing: 2px;

}
.mid-cls {
	    width: 45%;
		margin:0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.swm-left-w3ls:nth-child(1) {
    margin-right: 35px;
}
.swm-left-w3ls, .swm-right-w3ls {
    background: #ffffff26;
    padding: 1em 2em 3em;
    flex-basis: 38%;
    -webkit-flex-basis: 38%;
	    -webkit-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
}
.icon-head-wthree{
    text-align: center;
}
h2 span.t-w3 {
    padding: 16px 0px;
    font-size: 42px;
    color: #f10b59;
}
.icon-head-wthree h4,.header-side h4{
    font-size: 19px;
    color: #fff;
    padding-bottom: 15px;
	text-align:center;
}
.form-left-to-w3l input[type="text"], .form-right-w3ls input[type="password"], .form-left-w3l input[type="email"], .form-left-w3l input[type="name"] {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 14px;
    padding: .6em .7em;
    margin: 0px 0px 23px;
    border:none;
    -webkit-appearance: none;
    display: inline-block;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}
.buttom-social-grids ul li {
    display: inline-block;
}
.buttom-social-grids ul li a {
    font-size: 15px;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.buttom-social-grids ul li a:hover {
    color: #000;
}

.buttom-social-grids{text-align:center;}
.buttom-social-grids ul li:nth-child(2) {
    margin: 0px 15px;
}
.btnn .for {
    font-size: 12px;
    padding: 2em 0em;
    color: #fff;
    text-align: center;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btnn a.for:hover {
    color: #33e8ff;
}
.btnn {
    margin: 6px 0px 24px;}
button[type=submit] {
    width: 100%;
    background:#f10b59;
    outline: none;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 9px 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button:hover {
    color: #000;
    background: #fff;
}
.copy {
    padding: 30px 0px;
}
.copy p {
    margin: 0em;
    text-align: center;
    font-size: 15px;
    color: white;
}
.copy p a {
    color: #fff;
    text-decoration: none;
}
.copy p a:hover {	color:#33e8ff;}
/*--responsive--*/
@media(max-width:1920px){
h1.header-w3ls {
    font-size: 51px;
    padding: 50px 0px 56px;
}	
}
@media(max-width:1680px){
h1.header-w3ls {
    font-size: 49px;
    padding: 48px 0px 54px;
}	
}
@media(max-width:1600px){
h1.header-w3ls {	    
font-size: 46px;
    padding: 46px 0px 53px;
}
}
@media(max-width:1440px){
h1.header-w3ls {
    font-size: 44px;
}	
.mid-cls {
    width: 51%;
}
h2 span.t-w3 {
    font-size: 36px;
}
.icon-head-wthree h4, .header-side h4 {
    font-size: 17px;
}
}
@media(max-width:1366px){
.mid-cls {
    width: 54%;
}
h1.header-w3ls {
    letter-spacing: 1px;
}	
}
@media(max-width:1280px){
.form-left-to-w3l input[type="text"],
 .form-right-w3ls input[type="password"], 
 .form-left-w3l input[type="email"], 
 .form-left-w3l input[type="name"] {
    font-size: 13px;
}	
}
@media(max-width:1080px){
.mid-cls {
    width: 59%;
}
.form-left-to-w3l input[type="text"],
 .form-right-w3ls input[type="password"],
 .form-left-w3l input[type="email"],
 .form-left-w3l input[type="name"] {
    margin: 0px 0px 18px;	
 }
 .copy p {
    font-size: 14px;
}
}
@media(max-width:1050px){
h1.header-w3ls {
    font-size: 41px;
}	
.buttom-social-grids ul li a {
    font-size: 14px;
}
}
@media(max-width:1024px){
.mid-cls {
    width: 62%;
}
.btnn {
    margin: 6px 0px 20px;
}
h2 span.t-w3 {
    font-size: 33px;
}	
}
@media(max-width:991px){
	.mid-cls {
    width: 64%;
}
.icon-head-wthree h4, .header-side h4 {
    padding-bottom: 12px;
}
}
@media(max-width:900px){
.mid-cls {
    width: 67%;
}
h1.header-w3ls {
    font-size: 39px;
}	
}
@media(max-width:800px){
.mid-cls {
    width: 76%;
}
.copy p {
    padding: 0px 15px;
    line-height: 28px;
}	
}
@media(max-width:768px){
	.swm-left-w3ls:nth-child(1) {
    margin-right: 28px;
}
.mid-cls {
    width: 78%;
}
h1.header-w3ls {
    font-size: 37px;
}

}
@media(max-width:767px){
h1.header-w3ls {
    padding: 43px 0px 46px;
}
.copy {
    padding: 27px 0px;
}	
}
@media(max-width:736px){

.swm-left-w3ls, .swm-right-w3ls {
    padding: 1em 1.7em 2em;	
}
.mid-cls {
    width: 80%;
}
}
@media(max-width:667px){
h1.header-w3ls {
    font-size: 36px;
	line-height: 51px;
}	
.mid-cls {
    width: 86%;
}
}
@media(max-width:640px){
h2 span.t-w3 {
    font-size: 30px;
}
.icon-head-wthree h4, .header-side h4 {
    font-size: 16px;
}	
}
@media(max-width:600px){
	.mid-cls {
    width: 90%;
}
h1.header-w3ls {
    font-size: 34px;
}
.swm-left-w3ls, .swm-right-w3ls {
    padding: 1em 1.5em 2em;
}
}
@media(max-width:568px){
	.mid-cls {
    -webkit-flex-direction: column;
    flex-direction: column;
}
h1.header-w3ls {
    padding: 43px 16px 36px;
}
.swm-left-w3ls:nth-child(1) {
    margin-right: 0px;
	margin-bottom:20px;
}
.mid-cls {
    width: 51%;
}
}
@media(max-width:480px){
h1.header-w3ls {
    padding: 43px 16px 30px;
}	
.mid-cls {
    width: 59%;
}
.copy p {
    font-size: 13px;
}
}
@media(max-width:440px){
	.mid-cls {
    width: 63%;
}
.btnn .for {
    padding: 2em 0em 1em;
}
}
@media(max-width:414px){
h1.header-w3ls {
    font-size: 31px;
}
.mid-cls {
    width: 68%;
}
h2 span.t-w3 {
    font-size: 28px;
}	
}
@media(max-width:384px){
	.mid-cls {
    width: 74%;
}
.copy {
    padding: 22px 0px;
}
}
@media(max-width:375px){
	.mid-cls {
    width: 79%;
}
h1.header-w3ls {
    font-size: 29px;
}
.btnn {
    margin: 6px 0px 15px;
}
}
@media(max-width:320px){
	h1.header-w3ls {
    line-height: 43px;
}
.mid-cls {
    width: 88%;
}
h2 span.t-w3 {
    padding: 13px 0px;
}
}
/*--//responsive--*/