<html>

<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>

	<body ng-app="serviceToy">
		<h1 id="title"></h1>
		<p id="name"></p>
		<span id="last_name"></span> {{cookie.name}}
		<div ng-controller="bookmarks as bookmark">
			<h1>{{table}}</h1>
			<table>
				<tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">{{key}}</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">{{key}}</td>
				</tr>
				<tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" id="{{table}}_{{$index}}" ng-if="item.name.indexOf('_By_'+cookie.name) != -1">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">
						<input type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" readonly />
					</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">
						<input type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" />
					</td>
					<td>
						<input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="update($index,item)" value="Update" />
					</td>
					<td><input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="del($index,item);hide(table+'_'+$index);" value="Delete" /></td>
				</tr>
				<tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item"><input type="text" table="{{table}}" name="{{key}}" id="{{table}}_{{key}}_add" value="" /></td>
					<td><input type="submit" table="{{table}}" value="Add" keys="{{keys}}" ng-click="add(key_list_to_value_array(table,keys));" /></td>
				</tr>
				<tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">{{key}}</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">{{key}}</td>
				</tr>
			</table>
		</div>

		<div ng-controller="user as users">
			<h1>{{table}}</h1>
			<table>
				<tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">{{key}}</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">{{key}}</td>
				</tr>
				<tr ng-repeat="item in users.list |  orderBy:'-toString()'" id="{{table}}_{{$index}}">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">
						<input type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" readonly />
					</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">
						<input type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" />
					</td>
					<td>
						<input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="update($index,item)" value="Update" />
					</td>
					<td><input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="del($index,item);hide(table+'_'+$index);" value="Delete" /></td>
				</tr>
				<tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item"><input type="text" table="{{table}}" name="{{key}}" id="{{table}}_{{key}}_add" value="" /></td>
					<td><input type="submit" table="{{table}}" value="Add" keys="{{keys}}" ng-click="add(key_list_to_value_array(table,keys));" /></td>
					<!--ng-click="users.list.push( key_list_to_value_array($(this).attr('table'),$(this).attr('keys')) )"-->
				</tr>
				<tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">
					<td ng-repeat="(key, value) in item" ng-if="key == 'name'">{{key}}</td>
					<td ng-repeat="(key, value) in item" ng-if="key != 'name'">{{key}}</td>
				</tr>
			</table>
		</div>
		<div ng-controller="place_option">

			country_list:
			<select ng-model="choose_country">
				<option ng-repeat="country in country_list" value="{{country}}">{{country}}</option>
			</select>
			<br> In: {{choose_country}}
			<br> From: <select ng-model="a_place">
				<option ng-repeat="place in place_list" value="{{place}}">{{place}}</option>
			</select>
			<br> To: <select ng-model="b_place">
				<option ng-repeat="place in place_list" value="{{place}}">{{place}}</option>
			</select>
			<br>
			<button ng-click="submit()">Submit</button>
		</div>
		<script type="text/javascript" src="Function.js"></script>
		<script type="text/javascript" src="Library_bookmark.js"></script>
		<script type="text/javascript" src="Library_place_option.js"></script>
		<script type="text/javascript" src="Library_user.js"></script>
	</body>

</html>
