<!doctype html>
<html lang="en" ng-app="serviceToy">

<head>
    <meta https-equiv="Access-Control-Allow-Origin" content="upgrade-insecure-requests">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <style type="text/css">
        th,
        td {
            border-style: solid;
            border-width: 2px;
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
</head>

<body ng-app="serviceToy">



    <script type="text/javascript">
        function request(url, method, para, callback) {
            console.log(method + ' ' + url + ' ' + JSON.stringify(para))
            $.ajax({
                url: url,
                type: method,
                data: para,
                success: function(result) {
                    callback(result);
                }
            });
        }

        function name_array_to_keyvalue_array(n_arr, index, table) {
            console.log(n_arr)
            var arr = {}
            for (n in n_arr) {
                console.log(n + ' get ' + table + '_' + index + '_' + n + ' = ' + $('#' + table + '_' + index + '_' + n).val())
                arr[n] = $('#' + table + '_' + index + '_' + n).val();
            }
            console.log(JSON.stringify(arr));
            return arr;
        }

        function update(url, arr, callback) {
            request(url, 'PUT', arr, function(result) {
                console.log('Update ' + url + ' ' + result)
                // if (callback != undefined) {
                    callback(result);
                // }
            })
        }

        function del(url) {
            request(url, 'DELETE', {}, function(result) {
                console.log('Delete ' + url + ' ' + result)
            })
        }

        function key_list_to_value_array(table, list) {
            // list = JSON.parse(list)
            console.log(list)
            var arr = {}
            for (var ele in list) {
                arr[list[ele]] = $('#' + table + '_' + list[ele] + '_add').val();
                console.log(ele + '=' + arr[ele])
            }
            return arr;
        }

        function hide(clas) {
            $(clas).hide();
        }
    </script>


    <div ng-controller="bookmarks as bookmark">
        <table>
            <tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">
                <td ng-repeat="(key, value) in item">{{key}}</td>
            </tr>
            <tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" id="{{table}}_{{$index}}">
                <td ng-repeat="(key, value) in item">
                    <input ng-if="key != 'name'" type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" />
                    <input ng-if="key == 'name'" type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" readonly />
                </td>
                <!--<td>-->
                <!--    <input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="update($index,item)" value="Update" />-->
                <!--</td>-->
                <!--<td><input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="del($index,item);hide(table+'_'+$index);" value="Delete" /></td>-->
            </tr>
            <!--<tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">-->
            <!--    <td ng-repeat="(key, value) in item"><input type="text" table="{{table}}" name="{{key}}" id="{{table}}_{{key}}_add" value="" /></td>-->
            <!--    <td><input type="submit" table="{{table}}" value="Add" keys="{{keys}}" ng-click="add(key_list_to_value_array(table,keys));" /></td>-->
            <!--</tr>-->
            <tr ng-repeat="item in bookmark.list |  orderBy:'-toString()'" ng-if="$index == 0">
                <td ng-repeat="(key, value) in item">{{key}}</td>
            </tr>
        </table>
    </div>

    <!--<div ng-controller="user as users">-->
    <!--    <table>-->
    <!--        <tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">-->
    <!--            <td ng-repeat="(key, value) in item">{{key}}</td>-->
    <!--        </tr>-->
    <!--        <tr ng-repeat="item in users.list |  orderBy:'-toString()'" id="{{table}}_{{$index}}">-->
    <!--            <td ng-repeat="(key, value) in item">-->
    <!--                <input ng-if="key != 'name'" type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" />-->
    <!--                <input ng-if="key == 'name'" type="text" id="{{table}}_{{$parent.$parent.$index}}_{{key}}" class="{{table}} {{$parent.$index}} {{key}}" value="{{value}}" readonly />-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                <input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="update($index,item)" value="Update" />-->
    <!--            </td>-->
    <!--            <td><input type="submit" table="{{table}}" index="{{$index}}" data="{{item}}" ng-click="del($index,item);hide(table+'_'+$index);" value="Delete" /></td>-->
    <!--        </tr>-->
    <!--        <tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">-->
    <!--            <td ng-repeat="(key, value) in item"><input type="text" table="{{table}}" name="{{key}}" id="{{table}}_{{key}}_add" value="" /></td>-->
    <!--            <td><input type="submit" table="{{table}}" value="Add" keys="{{keys}}" ng-click="add(key_list_to_value_array(table,keys));" /></td>-->
                <!--ng-click="users.list.push( key_list_to_value_array($(this).attr('table'),$(this).attr('keys')) )"-->
    <!--        </tr>-->
    <!--        <tr ng-repeat="item in users.list |  orderBy:'-toString()'" ng-if="$index == 0">-->
    <!--            <td ng-repeat="(key, value) in item">{{key}}</td>-->
    <!--        </tr>-->
    <!--    </table>-->
    <!--</div>-->

    <script type="text/javascript">
        app = angular.module('serviceToy', [])


        // app.controller('user', function($scope, $http) {
        //     $scope.table = 'user'
        //     var self = this;
        //     self.list = []
        //     $scope.keys = [];
        //     $scope.hide = function(id) {
        //         $('#' + id).hide();
        //     }
        //     $scope.update = function(index, arr) {
        //         if (arr['$$hashKey'] != undefined) {
        //             delete arr['$$hashKey']
        //         }
        //         console.log(index);
        //         console.log(arr);
        //         arr = name_array_to_keyvalue_array(arr, index, $scope.table);
        //         update('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name'], arr);
        //     }

        //     $scope.del = function(index, arr) {
        //         del('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name']);
        //     }

        //     $scope.add = function(arr) {
        //         console.log(arr)
        //         update('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name'], arr, function(result) {
        //             // self.list.push(JSON.stringify(result))
        //             location.reload();
        //         });
        //     }
        //     $scope.key_list_to_value_array = function(table, list) {
        //         console.log(list)
        //         var arr = {}
        //         for (var ele in list) {
        //             arr[list[ele]] = $('#' + table + '_' + list[ele] + '_add').val();
        //             console.log(list[ele] + '=' + arr[list[ele]])
        //         }
        //         return arr;
        //     }
        //     $http({
        //         method: 'GET',
        //         url: 'https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/all'
        //     }).then(function success(response) {
        //         var key = []
        //         for (ele in response.data) {
        //             var add_array = response.data[ele];
        //             if (Object.keys(add_array).length != key.length) {
        //                 for (ele in add_array) {
        //                     key.push(ele);
        //                 }
        //             }
        //             $scope.keys = key;
        //             self.list.push(add_array);
        //         }
        //     }, function error(response) {});
        // });

        app.controller('bookmarks', function($scope, $http) {
            $scope.table = 'bookmarks'
            var self = this;
            self.list = []
            $scope.keys = [];
            $scope.hide = function(id) {
                $('#' + id).hide();
            }
            $scope.update = function(index, arr) {
                
                if (arr['$$hashKey'] != undefined) {
                    delete arr['$$hashKey']
                }
                console.log(index);
                console.log(arr);
                arr = name_array_to_keyvalue_array(arr, index, $scope.table);
                update('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name'], arr);
            }

            $scope.del = function(index, arr) {
                del('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name']);
            }

            $scope.add = function(arr) {
                console.log(arr)
                update('https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/' + arr['name'], arr, function(result) {
                    // self.list.push(JSON.stringify(result))
                    location.reload();
                });
            }
            $scope.key_list_to_value_array = function(table, list) {
                console.log(list)
                var arr = {}
                for (var ele in list) {
                    arr[list[ele]] = $('#' + table + '_' + list[ele] + '_add').val();
                    // console.log(ele + '=' + arr[ele])
                }
                return arr;
            }
            $http({
                method: 'GET',
                url: 'https://leekwunfung817assignment2.herokuapp.com/' + $scope.table + '/all'
            }).then(function success(response) {
                var key = []
                for (ele in response.data) {
                    var add_array = response.data[ele];
                    if (Object.keys(add_array).length != key.length) {
                        for (ele in add_array) {
                            key.push(ele);
                        }
                    }
                    $scope.keys = key;
                    self.list.push(add_array);
                }
            }, function error(response) {});
        });
    </script>
</body>

</html>
